.site-footer
{
  background-color:#A0725A;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#FCF7F1;
}

.copyright-text
{
  margin:0;
  color:#FCF7F1;
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text .social
  {
    text-align:center
  }
}
