/* ---------- Picture in pricing page ---------- */
.pricing {
    float: left;
    width:50%;
    height:100%;
    position:fixed;
    background-image: url("../images/beens.jpg");
    background-size: cover;
    background-position: center center;
    
}

/* ---------- Picture in booking page ---------- */
.booking {
    float: left;
    width:50%;
    height:100%;
    position:fixed;
    background-image: url("../images/booking.jpg");
    background-size: cover;
    background-position: center center;
    
}

/* ---------- Picture in contact page ---------- */
.contact {
    float: left;
    width:50%;
    height:100%;
    position:fixed;
    background-image: url("../images/contact.jpg");
    background-size: cover;
    background-position: center center;
    
}

/* ---------- Picture in about page ---------- */
.about {
    float: left;
    width:50%;
    height:100%;
    position:fixed;
    background-image: url("../images/about.jpg");
    background-size: cover;
    background-position: center center;
    
}

/* ---------- Media queries ---------- */
@media only screen and (max-width: 800px) {
    .pricing {
        width: initial;
        float:initial;
        position: initial;
        height: 400px;
        background-image: linear-gradient(180deg,transparent 80%,#4a2b13), url("../images/beens.jpg");

    }

    .booking {
        width: initial;
        float:initial;
        position: initial;
        height: 400px;
        background-image: linear-gradient(180deg,transparent 80%,#4a2b13), url("../images/booking.jpg");

    }

    .contact {
        width: initial;
        float:initial;
        position: initial;
        height: 400px;
        background-image: linear-gradient(180deg,transparent 80%,#4a2b13), url("../images/contact.jpg");

    }

    .about {
        width: initial;
        float:initial;
        position: initial;
        height: 400px;
        background-image: linear-gradient(180deg,transparent 80%,#4a2b13), url("../images/about.jpg");
    }

}