.pricing {
    float: left;
    width:50%;
    height:100%;
    position:fixed;
    background-image: url("assets/images/beens.jpg");
    background-size: cover;
    background-position: center center;
    
}

@media only screen and (max-width: 800px) {
    .pricing {
        width: initial;
        float:initial;
        position: initial;
        height: 400px;
        background-image: linear-gradient(180deg,transparent 80%,#4a2b13), url("assets/images/beens.jpg");
    }

}