/*---------- Google Fonts ----------*/
@font-face {
    font-family: "Playpen Sans";
    src: url("../font/playpen/PlaypenSans-Regular.ttf") format('truetype');

}

/*---------- Reset CSS ----------*/
* {
    margin: 0;
    padding: 0;

}

/*--------- Main CSS ----------*/
body {
    font-family: "Playpen Sans";
    background-color: #4a2b13;
    color:#ffa849;

}
#center-page {
    display:block;
}
.left-column {
    float: left;
    width:50%;
    height:100%;
    position:fixed;
    background-image: url("../images/news.jpg");
    background-size: cover;
    background-position: center center;
    
}
.right-column {
    float: right;
    width:50%;
    overflow: auto;
    background-color: #4a2b13;
}

.content {
    padding-top: 15px;
    padding-left: 55px;
}

.social {
    padding-top: 55px;
    
}
.social li {
    font-size: 55px;
    list-style: none;
    display: inline-block;
    padding: 15px;
    
}
.social a {
    color: #68848b;
}
.social a:hover {
    color: #ffa849;
}

.section {
    padding-top: 35px;
}
.section p{
    padding: 5px;
    width: 50%;
}

.img {
    font-size: 35px;
    color:#68848b;
}

.name {
    color:#68848b;
    padding-left: 15px;
    font-size: 25px;
}
.view a {
    text-decoration: none;
    color:#68848b;
    font-size: 18px;
}
.list li {
    list-style: none;
    padding-left: 9px;
    padding-top: 5px;
}
@media only screen and (max-width: 800px) {
    #center-page {
        display:grid;
    }
    .left-column {
        width: initial;
        float:initial;
        position: initial;
        height: 400px;
        background-image: linear-gradient(180deg,transparent 80%,#4a2b13), url("../images/news.jpg");
    }
    .right-column {
        width: initial;
        float: initial;
    }
}